*{
    box-sizing: border-box;
}
#container{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    width:90%;
    height: 650px;
    background: url('images/img.png');
    display: table;
    margin: auto;
}
#div1{
    width: 40%;
    display: table-cell;
    vertical-align: middle;
    text-align: justify;
    color: white;
    padding-left: 50px;
}
#p1{
    font-weight: bold;
    font-size: 30px;
    letter-spacing: -2px;
}
#p2{
    font-size: 10px;
    line-height: 15px;
}
#div2{
    width: 60%;
    display: table-cell;
    padding-left: 50px;
    padding-top: 90px;
}
#btn1{
    width:420px;
    height: 40px;
    color: white;
    border: none;
    border-radius: 10px;
    background: #5E54A4;
    box-shadow: 0px 8px 0px 0px rgba(0, 0, 0, 0.15);
}
form{
    width: 420px;
    height: 450px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 8px 0px 0px rgba(0, 0, 0, 0.15);

}
input{
    /* padding: auto; */
    margin-left: 50px;
    padding-left: 30px;
    width: 330px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #DEDEDE;
    background: #FFF;
}
input:hover{
    border-radius: 5px;
    border: 1px solid #5E54A4;
    background: #FFF;
}
input:focus {
    border: none;
  }
#btn2{
    width: 335px;
    height: 40px;
    margin-left: 50px;
    color: white;
    border: none;
    border-radius: 5px;
    background: #38CC8B;
    box-shadow: 0px -4px 0px 0px rgba(0, 0, 0, 0.09) inset;
}
#span1{
    font-size: 8px;
    color: #BAB7D4;
    margin-left: 65px;
}
a{
    text-decoration: none;
    color: #FF7979; 
    font-weight: bold;
}
#message1,#message2,#message3,#message4{
    font-size: 10px;
    float: right;
    font-style: italic;
    padding-right: 40px;
}
#ec1 , #ec2, #ec3, #ec4{
    display: flex;
    position: relative;
}
#ec1a, #ec2a, #ec3a, #ec4a{
    position: absolute;
    right:50px;
    bottom: 10px;
    display:none;
}
@media screen and (max-width:480px) {
   #container{
    width: 100%;
    height: 100%;
    display: block;
    margin:auto;
    overflow: hidden;
   }
   #div1{
    width: 100%;
    display: block;
    padding-top: 50px;
    justify-content: center;
   }
   #div2{
    width: 100%;
    padding-bottom: 50px;
    padding-top: 20px;
    display: block;
   }
   #btn1{
    width: 350px;
    height: 40px;
}
   form{
    width:350px;
   }
   input{
    width: 275px;
    margin-right: 150px;
   }
   #btn2{
    width:275px;
   }
   #span1{
    margin-left:45px;
   }
   #ec1 , #ec2, #ec3, #ec4{
    display: flex;
    position: relative;
    width: 480px;
}
#ec1a, #ec2a, #ec3a, #ec4a{
    position: absolute;
    right:170px;
    bottom: 10px;
    display:none;
}
#message1,#message2,#message3,#message4{
    float: none;
    margin-left: 162px;
}
}
@media screen and (max-width:800px) {
    body{
     background: url('images/img.png')
    }
    #container{
     width: 100%;
     height: 100%;
     display: block;
     margin:auto;
    }
    #div1{
     width: 100%;
     display: block;
     padding-top: 50px;
     justify-content: center;
    }
    #div2{
     width: 100%;
     padding-bottom: 50px;
     padding-top: 20px;
     display: block;
    }
    #btn1{
     width: 350px;
     height: 40px;
 }
    form{
     width:350px;
    }
    input{
     width: 275px;
     margin-right: 150px;
    }
    #btn2{
     width:275px;
    }
    #span1{
     margin-left:45px;
    }
    #ec1 , #ec2, #ec3, #ec4{
        display: flex;
        position: relative;
        width: 480px;
    }
    #ec1a, #ec2a, #ec3a, #ec4a{
        position: absolute;
        right:170px;
        bottom: 10px;
        display:none;
    }
 }